@import "tailwindcss";

.font-bellefair {
  font-family: 'Bellefair', serif;
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
}

.font-barlow-condensed {
  font-family: 'Barlow Condensed', sans-serif;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );}
